
<% provide(:title, "Top") %>

<h1 class="titlecolor">Kids English Online School Support App </br>(Sample for Japanese)</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-3">
      
    </div>
    
    <div class="col-sm-3">
       <div class="box30">
         <div class="box-title">Login Here</div>
         <p class="subtitlesize"><%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %></p>
       </div>
      
    </div>
    
    <div class="col-sm-3">
      <div class="box30">
         <div class="box-title">Sign up Here</div>
         <p class="subtitlesize2"><%= link_to "Sign up new student", signup_path, class: "btn btn-lg btn-success" %></p>
       </div>
      
    </div>
    
    <div class="col-sm-3">
      
    </div>
  </div>
  
  
  
</div>
